# ---- UI under test ----
BASE_URL=https://joanesquivel.github.io/the-test-automation-website/
E2E_USERNAME=
E2E_PASSWORD=


# ---- Optional ----
# BROWSERS=chromium,firefox,webkit   # extra browser projects: ui-firefox, e2e-webkit, ...
# WORKERS=1                          # force serial execution locally
